/* Tim kiem tap luat  */

.search-form {
    position: relative;
    margin: 0px;
    width: 300px;
}

.search-form:before {
    content: ' ';
    position: absolute;
    left: 25px;
    top: 14px;
    width: 2px;
    height: 36px;
    transform: scale(0);
    z-index: 1;
    background: rgb(71, 136, 135);
    transition: all 1s cubic-bezier(.87, -.41, .19, 1.44);
}

.timkiemTL {
    border-radius: 36px;
    position: absolute;
    width: 64px;
    height: 64px;
    transition: all 0.9s cubic-bezier(.87, -.41, .19, 1.44);
    border: none;
    outline: none;
    box-shadow: 0 10.5px 5.4px -26px rgb(0 0 0 / 19%), 0 18.5px 9px -26px rgb(0 0 0 / 21%), 0 25.9px 12.2px -26px rgb(0 0 0 / 21%), 0 34.5px 17.1px -26px rgb(0 0 0 / 20%), 0 47.3px 26.8px -26px rgb(0 0 0 / 19%), 0 70px 46px -26px rgb(0 0 0 / 19%)
}

.active1 .timkiemTL {
    width: 100%;
    padding-left: 25px;
    border-radius: 36px;
}

.search-form button {
    background: rgba(255, 255, 255, 1);
    position: absolute;
    height: 100%;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    transition: all 0.9s cubic-bezier(.87, -.41, .19, 1.44);
    border: none;
}

.search-form button:after {
    content: ' ';
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: 0 auto;
    background: #4149be;
    border-radius: 50%;
}

.search-form button:before {
    content: ' ';
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    right: 0;
    top: 20px;
    transform: scale(0);
    transform-origin: left top;
    margin: 0 auto;
    background: white;
    border-radius: 50%;
    z-index: 1;
    transition: all 0.8s ease;
}

.active1 button {
    transform: translateX(235px);
}

.active1 button:before {
    transform: scale(1);
}

.half-div {
    padding-top: 150px;
}

.half-1 {
    padding-left: 100px !important;
}

.search-result {
    box-shadow: 0 10.5px 5.4px -26px rgba(0, 0, 0, 0.19),
        0 18.5px 9px -26px rgba(0, 0, 0, 0.212),
        0 25.9px 12.2px -26px rgba(0, 0, 0, 0.209),
        0 34.5px 17.1px -26px rgba(0, 0, 0, 0.198),
        0 47.3px 26.8px -26px rgba(0, 0, 0, 0.187),
        0 70px 46px -26px rgba(0, 0, 0, 0.19);
    padding: 16px;
    background-color: white;
    border-radius: 20px;
}

.list-tl {
    height: 350px;
    overflow-y: scroll;
    
    
}

.empty{
    padding: 32px;
    text-align: center;
    height: 100%
}

.empty p {
    font-size: 32px;
    font-weight: bold;
    opacity: .3;
}

.img-empty {
    height: 90%;
    opacity: .8;
}