.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(223, 234, 245);
}

.header {
  flex: 1;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 900px;
  margin: 100px 0;
}

.selectOption {
  width: 500px;
}

